body
{
background-color: #e0e0e0;
}

h1
{
letter-spacing:3px;
text-align: center;
font-family:"Avantgarde", sans-serif;
color: white;
font-size:80%
}

.top
{
position:fixed;
top:0;
left:0;
width:100%;
height:40%;
background-color:#000033;
z-index:-1;
}
