body {
    /*background-image: url(images/party_08.jpg);*/
    background-color: #6495ED; 
    background-size: cover;
    z-index: -1;   
}	

.pure-menu.pure-menu-open {
    background: transparent; 
    text-align: center;
    font-size: 1.25em; 
}

.pure-menu .pure-menu-heading {
    color: #FFF5EE; 
    font-weight: bold; 
}

.pure-menu li a {
    color:#00FFFF; 
}


h1 {
    text-align: center;
    color: black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    letter-spacing: 3px;
    font-size: 200%;
}

#results {
    text-align: center;
    color: black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 150%;
}