body
{
	background-color: black;
 	background-image: url(images/party_05.jpg);
  	background-size: 100% 150%;
  	opacity: 1;
  	z-index: -1;

}


.bar
{
	background-color: gray;
	z-index: 0;
}

#title
{
	text-align: left;
	color: white;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	letter-spacing: 2px;
}

#prof
{
	position: absolute;
	right: 0px;
	color: white;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

h1
{
	letter-spacing:3px;
	text-align: center;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: white;
	font-size:200%;
}

h2
{
	letter-spacing:2px;
	text-align: center;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: white;
	font-size: 150%;
}

#form
{
	text-align: center;
}
