body {
  background-color: black;
}

.bar{
	backgroun-color: gray;
}

#title{
	text-align: left;
	color: white;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	letter-spacing: 2px;
}

#prof{
	position: absolute;
	right: 0px;
	color: white;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

h1{
	letter-spacing:3px;
	text-align: center;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: white;
	font-size:200%;
}

h2{
	letter-spacing:2px;
	text-align: center;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: white;
	font-size: 150%;
}

#form{
	text-align: center;
}
