<!DOCTYPE>
<html lang="en">
  <head>
  
    <form class="pure-form pure-form-aligned" action="/register" method = "post">
      <fieldset>
	<div class="pure-control-group">
	  <label for="username"> Username </label>
	  <input name="username" class="pure-input-1-2" type="txt" required>
	</div>

        <div class="pure-control-group">
          <label for="password">Password</label>
          <input name="password" class="pure-input-1-2" type="password" required>
        </div>
        <div class="pure-controls">
          <button class="pure-button pure-button-primary" type="submit">Login</button>
        </div>
      </fieldset>
    </form>
