<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylshseet" href="/http:/yui.yahooapis.com/pure/0.3.0/pure-min.css">

    <script type="text/javascript">
      $(document).ready(function() {
      $('#large_image_holder').cycle({
      fx: 'fade',
      speed: 5000,
      random: 1,
      timeout: 1000
      });
      });
    </script>

  </head>
  
  <body>
    <div class=top>
    <h1> EDRIC'S PLAN-TATION</h1>
    </div>

    <div id="main_logo_area">
      <div id="large_image_holder">
	<img src="/images/allen_stone_bckrd_01.jpg" />
	<img src="/images/website_comingsoon_blue_01.jpg" />
	<img src="/images/website_comingsoon_gold_01.jpg" />
	<img src="/images/website_comingsoon_green_01.jpg" />
	<img src="/images/website_comingsoon_orange_01.jpg" />
	<img src="/images/website_comingsoon_purple_01.jpg" />
	<img src="/images/website_comingsoon_red_01.jpg" />
      </div>	
    </div>	
    <form class="pure-form pure-form-aligned" action="/register" method = "post">
      <fieldset>
	<div class="pure-control-group">
	  <label for="username"> Username </label>
	  <input name="username" class="pure-input-1-2" type="txt" required>
	</div>

        <div class="pure-control-group">
          <label for="password">Password</label>
          <input name="password" class="pure-input-1-2" type="password" required>
        </div>
        <div class="pure-controls">
          <button class="pure-button pure-button-primary" type="submit">Login</button>
        </div>
      </fieldset>
    </form>
