1<!DOCTYPE>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="../static/search.css">
  </head>
  
  <body>
    <div class="bg">
      <div class="bar">
        <p id="title">
            groupvent
          <a id="prof" href="profile.html"> Profile </a>
        </p>  
      </div>
      <div class="hero">
	<div class="hero-titles"> 
	  <h1>Welcome, {{username}}</h1>
	  <h2>Want to make an event? Start your search here:</h2>
	</div>
      </div>
      
      <form class="pure-form pure-form-aligned" id="form" action = "/search" method="post">
  	<fieldset>
	  <div class="pure-control-group"> 
            <label id="keyword"> Search by a keyword of what you want to do: </label>
  	    <input class="pure-input-1-2" type="search" name="keyword" placeholder="Keyword">
	  </div>
          <br>
          <br>
          <br>
	  <div class="pure-control-group">
            <label id="location"> Or search by where you want to be: </label>
            <input class="pure-input-1-2" type="search" name="location" placeholder ="Location">
	  </div>
          <br>
          <br>
	  <div class="pure-control-group">
  	    <button type="submit" class="pure-button pure-button-primary">Search</button>
	  </div>
  	</fieldset>
      </form>
    </div>
    
  </body>
  
</html>
